.balance-transaction table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.balance-transaction table tr th {
  background-color: #70a5d8;
  color: #fff;
  padding: 6px 0px;
  font-weight: 300;
  font-size: 12px;
}

.balance-transaction table td,
th {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.balance-transaction table td {
  color: #252733;
  font-size: 12px;
}

.balance-transaction table tr:hover {
  background-color: #e0ecfb !important;
}
